[Desktop Entry]
Version=1.0
Name=wpaCute
Comment=Graphical Qt user interface for wpa_supplicant
Exec=wpa-cute
Icon=wpa-cute
GenericName=WLAN Config
Terminal=false
Type=Application
Categories=Qt;Network;
Keywords=wlan;wifi;
